body{
    margin: 0;
    font-weight: 300;
    background: #d763be6d;
}


.container{
    width: 80%;
    margin: 0 auto;
}

header {
    background:  rgb(219, 121, 173);
    justify-content: space-between;
    border-bottom-width: 30px;
    border-bottom: 6px solid red;
}

header ::after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: fit-content;
    cursor: pointer;
}



nav {
    float: right;
    
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    
}

nav li {
    display: inline-block;
    margin: 0 85px;
    margin-left: 30px;
    position: relative; 
    padding-bottom: 5px;
}  

nav a {
    color: rgb(237, 237, 237);
    text-decoration: none;
    text-transform: uppercase;
}

.first-section-bg{
    background: #0000006d;
    background: linear-gradient(to right, rgb(141, 6, 130), rgb(225, 215, 215));
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    flex: space-evenly;
}




/* .first-section-container{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "perfume-image-container perfume-desc-container scent-chart-container";
    height: 100px;

}


   
  .perfume-image-container {
    margin-top: 20px;
    margin-left: 10%;
    grid-area: perfume-image-container;
  }
   
  
  .perfume-desc-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    grid-area: perfume-desc-container;
  }
  
  .scent-chart-container { grid-area: scent-chart-container; 
} */
 




.perfume-img{
    /* max-width: 20%;
    height: auto\9;

    margin: auto;
    float: left;

    border: 500px;
    border-radius: 500px;
    border-color: rgb(0, 0, 0); */
    width: 300px;
    max-width: 80%;
    border-radius: 500px;
    margin-top: 10px;
    margin-left: 10%;

}
.name-and-gender{
    font-size: 10vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    ;
}

.int-icons{
    margin-top: -10%;
}

h1{
    font-family: Georgia, serif;
}

h2 a {
    color: rgb(237, 237, 237);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', monospace;
    font-size: smaller;
}

.brand-img{
    /* max-width: 50%;
    height: auto\9;

    margin-top: -20px;
    margin-left: 20px;
    hmm is this right lol? 
    border: 500px;
    border-radius: 200px;
    border-color: rgb(0, 0, 0);
    float: left;
    float: up;  */

    width: 250px;
    max-width: 30%;
    border-radius: 10px;
 
}

.icon{
    width: 8vw;
    max-width: 50px;

}

.icon-gend{
    width: 5vw;
    max-width: 40px;
    margin-top: -3px; ;

}

.interactions icon{
    width: 10vw;
    max-width: 30px;
    margin-top: -3px; ;
}
.button{
    cursor: pointer;
}


.interactions{
    display:flex;
    flex-direction: row;
    margin-top: -40px;
}

.stars{
    display:flex;
    flex-direction: row;
    
}


.grid-x{
    display: flex;
    flex-flow: row wrap;
    color: #0a0a0a;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 50px;
    border: 500px;

}

.cell {
    flex: 0 0 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
    border: 500px;
    border-radius: 500px;
}

.accord-box {
    margin: auto;
    max-width: 100%;
    cursor: pointer;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.2rem 0.3rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.accord-bar{
    text-align: center;
}

td.notetype {
    white-space: nowrap;
    width: 110px;
    font-size: 1rem;
}

td {
    vertical-align: top;
    padding: 0 16px 21px 0;
    display: table-cell;
}

.notes_block {
    display: inline-block;
    color: var(--blue-500);
}

.clickable_note_img {
    display: inline-block;
    flex-shrink: 1;
    cursor: pointer;
    color: var(--blue-500);
    padding: 1px 8px 8px 0;
}

img.np {
    filter: grayscale(.2);
    margin: 0 2px 0 0;
    vertical-align: text-bottom;
    width: 30px;
    height: 30px;
    border-radius: 200px;
}

.notes3 a:hover{
    color: rgb(105, 198, 232);

}

.notes3 td {
    vertical-align: top;
    padding: 0 16px 21px 0;
}

.light {
    font-weight: 300;
}

.mb-2 {
    margin-bottom: 24px;
}

.notes3 table {
    border-collapse: collapse;
    border-spacing: 0;
}

.notes-div{
    width: 10px;
}

.pyramid-icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: -20px;
}

.block-tabHeader {
    padding: 0;
    margin: 0;
    color: #505050;
    background: grey;
    border-bottom: 1px solid #ff0000;
    flex: space-evenly;
}

.tabs {
    display: flex;
    flex: space-evenly;
}

.hScroller {
    overflow-y: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
}

.hScroller-scroll {
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    overflow-x: hidden;
    
}

.tabs-tab {
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    font-weight: inherit;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    flex: space-between;
    margin: 10px;
    padding: 0;
    list-style: none;

}
.desc{
    margin-top: 10px;
}

.bnh2 {
    /* border-bottom: 5px #e73ea6 solid; */
    margin-top: 30px;
    font-style: bold;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    margin-bottom: 10px;


}

.bnh3 {
    /* border-bottom: 5px #e73ea6 solid; */
    margin-top: 10px;
    font-style: bold;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    margin-bottom: 10px;


}

.txt{
    font-size: larger;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }

  }

  #testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    /* display: flex;
    float: left;
    flex-direction: column;
    justify-content: left;
    align-items: center; */
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}

.cardname {
    font-weight: bold;
    cursor: pointer;
}

.foot{
    text-align: center;
    background-color: #b7b3b3;
}

